#root {
  margin: 0 auto;
}


.page { min-height: 0; }

.page-section {
  margin-bottom: 20px;
  margin-top: 20px
}
.page-section.highlight {
  box-shadow: 0 0  10px rgb(215, 163, 255);
}

.app-shell {
  min-height: 100dvh;           
  display: grid;
  grid-template-rows: auto auto;
}